doctype html
html
  head
    title= title
     
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.11.2.min.js")
    script(src="//code.jquery.com/ui/1.11.2/jquery-ui.js")   
  body
    div#head-container
      div#header
        h1 George Thoppil
    div#navigation-container
      div#navigation
        ul
          li 
            a(href='/') Home 
          li 
            a(href='/About') About 
          li
            a(href='/Projects') Projects
          li
            a(href='/Contact') Contact
    div#content-container
      div#content-container2
        div#content-container3
           div#content
             block content
            div#aside
             block aside
      div#footer-container
        div#footer Copyright 2015