doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#head-container
      div#header
        h1 George Thoppil
    div#navigation-container
      div#navigation
        ul
          li 
            a(href='#') Home 
          li 
            a(href='#') About 
          li
            a(href='#') Projects
          li
            a(href='#') Contact
    div#content-container
      div#content-container2
        div#content-container3
           div#content
             block content
            div#aside
             block aside
      div#footer-container
        div#footer Copyright 2015